@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
--softorange: hsl(35, 77%, 62%);
--softred: hsl(5, 85%, 63%);
--white: hsl(36, 100%, 99%);
--gravishblue: hsl(233, 8%, 79%);
--darkgravishblue: hsl(236, 13%, 42%);
--darkblue: hsl(240, 100%, 5%);
}
